.project
.metadata
bin/
target/
tmp/
*.tmp
*.bak
*.swp
.classpath
.settings/
Thumbs.db
Desktop.ini
.DS_Store
*.zip
*.*~
.idea/
*.iml
/java/air-j7j8/.gradle
/java/air-j7j8/build
/java/air-j7j8/classes
/java/air-j7j8/me.xml
