<?xml version="1.0" encoding="utf-8" ?>  
<!-- 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 -->
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${catalina.home}/logs/jsfrf.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />
		</layout>
	</appender>

	<appender name="DailyFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="file" value="${catalina.home}/logs/jsfrf.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
				<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />
		</layout>
	</appender>
	
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] (%t) %m%n" />
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<root>
		<priority value="debug" />
		<appender-ref ref="DailyFileAppender" />
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>  